.welcome-screen {
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(135deg, #efb8c6, #f6e4de, #d1a6e1);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}

.welcome-screen.fade-out {
  opacity: 0;
}

.welcome-image {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}